<ion-modal-view class="crm-new-modal" ng-click="newModal.hide()">
  <div class="crm-tabs">
    <div class="row">
      <div class="col col-25" ui-sref="crm.addClient">
        <div class="crm-fab crm-fab-outline-gray">
          <i class="icon-attach-client-g"></i>
        </div>
        <p>新建客户</p>
      </div>

      <div class="col col-25" ui-sref="crm.addContact">
        <div class="crm-fab crm-fab-outline-gray">
          <i class="icon-attach-contact-g"></i>
        </div>
        <p>新建联系人</p>
      </div>

      <div class="col col-25" ui-sref="crm.addOpportunity">
        <div class="crm-fab crm-fab-outline-gray">
          <i class="icon-attach-opportunity-g"></i>
        </div>
        <p>新建商机</p>
      </div>
      <div class="col col-25" ui-sref="crm.addEvent">
        <div class="crm-fab crm-fab-outline-gray">
          <i class="icon-attach-event-g"></i>
        </div>
        <p>新建跟进</p>
      </div>
    </div>
  </div>
</ion-modal-view>