<ion-tabs class="tabs-icon-top">

  <!-- Cabinet-Personal Tab -->
  <ion-tab title="我的网盘" icon="icon ion-ios-person" href="#/cabinet/personal">
    我的网盘
    <ion-nav-view name="cabinet-personal"></ion-nav-view>
  </ion-tab>

  <!-- Cabinet-Company Tab -->
  <ion-tab title="公司网盘" icon="icon ion-ios-cloud" href="#/cabinet/company">
    公司网盘
    <ion-nav-view name="cabinet-company"></ion-nav-view>
  </ion-tab>

  <!-- Cabinet-Received Tab -->
  <ion-tab title="收到的分享" icon="icon ion-ios-download" href="#/cabinet/received">
    收到的分享
    <ion-nav-view name="cabinet-received"></ion-nav-view>
  </ion-tab>

</ion-tabs>
