<ion-modal-view class="gloomy-bg modal-full-screen">
  <ion-header-bar class="item-input-inset search-header-bar">
    <label class="item-input-wrapper">
      <i class="ion-ios-search fsu coyness"></i>
      <input type="text" placeholder="搜索" ng-model="search.key" focus-on="search.modal.isShown()">
    </label>
    <button type="button" class="button button-positive button-clear" ng-click="search.modal.hide()">
      取消
    </button>
  </ion-header-bar>

  <ion-content>
    <!-- if(有搜索结果): -->
    <div class="list vote-list" ng-if="search.result.length">
      <div class="item">
        <div class="item-note">120人参与</div>
        <span class="common-black">公司年会调查</span>
        <span class="vote-status-ctnr" ng-class="{'light-gray': item.status === '1'}">进行中</span><!--{{ item.status === '0'? '进行中'：'已结束'}} 假设后端返回0为正在进行中 1已结束-->
        <p >截止时间: 2016-08-06</p>
      </div>
    </div>


    <!-- elseif(未开始搜索): -->
    <div
        class="margin-top margin-bottom padding text-center coyness"
        ng-if="!search.result.length && !search.key && !search.searching"
        >请输入标题或内容进行搜索~
    </div>

    <!-- elseif(搜索中): -->
    <div
        class="margin-top margin-bottom padding text-center coyness"
        ng-if="search.searching && !search.result.length"
        >搜索中...
    </div>

    <!-- elseif(没有搜索结果): -->
    <div
        class="margin-top margin-bottom padding text-center coyness"
        ng-if="search.key && !search.searching && !search.result.length"
        >没有找到相关的投票~
    </div>
    <!-- endif; -->
  </ion-content>
</ion-modal-view>