<div>
<!-- 工作流表单字段显示模板 -->
  <!-- isHidden 保密项则不显示 -->
  <div class="item item-input item-indent item-text-wrap"
    ng-if="!isHidden(item) &&
      item['data-type'] !== 'label' &&
      item['data-type'] !== 'imgupload' &&
      item['data-type'] !== 'fileupload' &&
      item['data-type'] !== 'listview' &&
      item['data-type'] !== 'sign' &&
      item['data-type'] !== 'checkbox'"
    ng-repeat-start="item in fields"
    >
    <span class="input-label coyness">{{item['data-title']}}：</span>
    <div class="input-content common ic-{{item['data-type']}}-view" ng-class="{'on': item['origin-value']}">
      {{ item | wfic | htmlToPlaintext }}
    </div>
  </div>

  <!-- 签章 -->
  <div class="item item-input item-indent item-text-wrap"
    ng-if="!isHidden(item) && item['data-type'] === 'sign' && item['value']">
    <span class="input-label coyness">{{item['data-title']}}：</span>
    <div class="wfic-{{item['data-type']}}-view">
      <img ng-src={{item['value']}}>
    </div>
  </div>

    <!-- 复选框 -->
  <div class="item item-input item-indent item-text-wrap"  ng-if="!isHidden(item) && item['data-type'] === 'checkbox'">
    <span class="input-label coyness">{{item['data-title']}}：</span>
    <div class="input-content common ic-checkbox-view" ng-class="{'on': item['origin-value']}">
      <div class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle" style="padding: 0;">
        <input type="checkbox" disabled="disabled" checked="checked">
        <i class="checkbox-icon"></i>
      </div>
    </div>
  </div>

  <!-- 列表控件 -->
  <div class="item item-indent item-text-wrap" ng-if="!isHidden(item) && item['data-type'] === 'listview'">
    <h2 class="coyness margin-bottom">{{item['data-title']}}</h2>
    <ic-listview-view data="item"></ic-listview-view>
  </div>

  <!-- 图片上传控件 -->
  <div class="item item-indent item-text-wrap" ng-if="!isHidden(item) && item['data-type'] === 'imgupload'">
    <h2 class="coyness margin-bottom">{{item['data-title']}}</h2>
    <ic-imgupload-view data="item"></ic-imgupload-view>
  </div>

  <!-- 文件上传控件 -->
  <div class="item item-indent item-text-wrap" ng-if="!isHidden(item) && item['data-type'] === 'fileupload'">
    <h2 class="coyness margin-bottom">{{item['data-title']}}</h2>
    <ic-fileupload-view data="item"></ic-fileupload-view>
  </div>

  <!-- 标签类型 -->
  <div class="item item-indent item-text-wrap" ng-repeat-end ng-if="item['data-type'] === 'label'">
    <ic-label data="item"></ic-label>
  </div>
</div>